<a href="/">
    <h1>Hot Sauce Database Header</h1>
</a>
<p>@Html.ActionLink("Sauces", "Index", "Sauces")</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Log In or Create Account", "Index", "Account")</p>