<div id="navbar">
    <a href="/">
        <img src="~/assets/images/bottleLogo.png">
        <img src="~/assets/images/textLogo.png">
    </a>
    <div id="headerLinks">
        <p>@Html.ActionLink("Sauces", "Index", "Sauces")</p>
        <p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
        <p>@Html.ActionLink("Log In", "Index", "Account")</p>

    </div>
</div>
<hr>